<h1>【MHXX】クリアタイム一覧</h1>
<%
=begin
%>
<table class="table table-striped caption-top">
  <thead>
    <tr>
      <th scope="col" class="align-middle">#</th>
      <th scope="col" class="align-middle">モンスター名</th>
      <th scope="col" class="align-middle">クエスト名</th>
      <th scope="col" class="align-middle">タイム</th>
      <th scope="col" class="align-middle">スタイル/武器種</th>
      <th scope="col" class="align-middle">武器名</th>
      <th scope="col" class="align-middle">狩技</th>
      <th scope="col" class="align-middle">スキル</th>
      <th scope="col" class="align-middle">備考</th>
    </tr>
  </thead>
  <tbody>
    <% results.each_with_index do |result, index| %>
      <tr>
        <th scope="row" class="align-middle"><%= index + 1 %></th>
        <td class="align-middle"><%= pokemon.move1 %></td>
        <td class="align-middle"><%= pokemon.move2 || "-" %></td>
        <td class="align-middle"><%= pokemon.move3 || "-" %></td>
        <td class="align-middle"><%= pokemon.move4 || "-" %></td>
        <td class="align-middle">
          <%= image_tag(create_pokemon_image_path(pokemon.item, "items")) %>
          <%= pokemon.item %>
        </td>
        <td class="align-middle"><%= pokemon.effort_values %></td>
        <td class="align-middle"><%= pokemon.character %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%
=end
%>

<% results = [
  OpenStruct.new(:quest => "【超特殊許可】超特殊紅兜狩猟依頼", :monster => "紅兜アオアシラ"),
  OpenStruct.new(:quest => "【超特殊許可】超特殊天眼狩猟依頼", :monster => "天眼タマミツネ")
] %>

<% results.each do |result| %>
  <div class="row">
    <div class="col-5"><%= result.quest %></div>
    <div class="col-3"><%= result.monster %></div>
    <div class="col-3">最速タイム：15'01"23</div>
    <div class="col-1">3</div>
  </div>
<% end %>