<table class="table table-light table-striped">
  <thead>
    <tr>
      <th class="col">クエスト名</th>
      <th class="col">タイム</th>
      <th class="col">Action</th>
      <th class="col text-center">
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="クエスト検索時に「お気に入り」で絞り込みができるようになります。"><i class="fa-solid fa-circle-exclamation icon__info"></i></span>
      </th>
    </th>
  </thead>
  <tbody>
    <% @quests.each_with_index do |quest, index| %>
      <% best_time = @times[quest.id]&.min_by(&:clear_time) %>
      <tr>
        <td class="align-middle"><%= styled_quest_name(quest) %></td>
        <td class="align-middle"><%= best_time.present? ? formatted_clear_time(best_time.clear_time) : "-" %></td>
        <td class="align-middle">
          <%= link_to "タイム一覧", mhxx_quest_path(quest.id), class: "btn btn-sm btn-info mb-1" %>
          <%= link_to "タイム追加", new_mhxx_time_path(quest_id: quest.id), class: "btn btn-sm btn-success" %>
        </td>
        <td class="align-middle text-center">
          <% bookmark = @bookmarks[quest.id] %>
          <% if bookmark %>
            <%= link_to mhxx_bookmark_quest_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "クエスト「#{quest.name}」のお気に入りを解除してよろしいですか？" }, class: "icon__bookmark" do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          <% else %>
            <%= link_to mhxx_bookmark_quests_path(quest_id: quest.id), data: { turbo_method: :post }, class: "icon__bookmark" do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
