<table class="table table-light table-striped">
  <thead>
    <tr>
      <th class="col">No</th>
      <th class="col">タイム</th>
      <th class="col">スタイル/武器種</th>
      <th class="col">狩技</th>
      <th class="col">武器名</th>
      <th class="col">スキル</th>
      <th class="col">備考</th>
      <th class="col">Action</th>
    </th>
  </thead>
  <tbody>
    <% @quest_times.each_with_index do |quest_time, index| %>
      <tr>
        <!-- No -->
        <td><%= index + 1 %></td>
        <!-- タイム -->
        <td><%= formatted_clear_time(quest_time.clear_time) %></td>
        <!-- スタイル/武器種 -->
        <td>
          <%= sanitize("#{quest_time.m_hunting_style&.name || "-"}/<br>#{quest_time.m_weapon&.m_weapon_type&.name || "-"}") %>
        </td>
        <!-- 狩技 -->
        <td>
          <% hunter_arts = [quest_time.m_hunter_art1, quest_time.m_hunter_art2, quest_time.m_hunter_art3].compact %>
          <ul>
            <% if hunter_arts.present? %>
              <% hunter_arts.each do |hunter_art| %>
                <li><%= hunter_art.name %></li>
              <% end %>
            <% else %>
              -
            <% end %>
          </ul>
        </td>
        <!-- 武器名 -->
        <td><%= quest_time.m_weapon.present? ? quest_time.m_weapon.name : "-" %></td>
        <!-- スキル -->
        <td>
          <ul>
            <% if quest_time.m_skills.any? %>
              <% quest_time.m_skills.each do |skill| %>
                <li><%= skill.name %></li>
              <% end %>
            <% else %>
              -
            <% end %>
          </ul>
        </td>
        <!-- 備考 -->
        <td><%= quest_time.note %></td>
        <!-- Action -->
        <td>
          <div>
            <%= link_to "編集", edit_mhxx_time_path(quest_time), class: 'btn btn-primary' %>
            <%= link_to "削除", mhxx_time_path(quest_time), data: { turbo_method: :delete, turbo_confirm: "タイムを削除してよろしいですか？" }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
