<h1>【MHXX】クエスト一覧</h1>
<div class="mb-3">
  <%= form_with url: mhxx_quests_path, method: :get, local: true do |f| %>
    <%# ランク選択 %>
    <div class="d-flex">
      <div class="ms-1">
        <% Mhxx::MQuestRank.with_all_option.each do |rank| %>
          <div class="form-check form-check-inline me-2">
            <%= f.radio_button :rank_radio,
              rank.last,
              class: "form-check-input",
              id: "rank_radio_#{rank.last}",
              checked: (params[:rank_radio].blank? && rank.last == 0) || params[:rank_radio] == rank.last.to_s %>
            <%= f.label "rank_radio_#{rank.last}", rank.first, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
    <%# クエスト選択 %>
    <%= f.select :rank_number,
      options_for_select([["すべて", 0]], params[:rank_number]),
      {},
      class: "form-select mb-3",
      id: "rank_number",
      data: { selected: params[:rank_number] } %>
    <%# ボタンエリア %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- TODO: ラジオでお気に入りが選択されたときのみ表示 -->
<div class="mb-2">
  <%= link_to "お気に入り並び替え", mhxx_bookmark_quests_path, class: "btn btn btn-info" %>
</div>

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th class="col">No</th>
      <th class="col">クエスト名</th>
      <th class="col">タイム</th>
      <th class="col">武器種 / スタイル</th>
      <th class="col">武器名</th>
      <th class="col">Action</th>
      <th class="col text-center">
        お気に入り <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="クエスト検索時に、絞り込みができるようになります。"><i class="fa-solid fa-circle-exclamation icon__info"></i></span>
      </th>
    </th>
  </thead>
  <tbody>
    <% @quests.each_with_index do |quest, index| %>
      <% best_time = @times[quest.id]&.min_by(&:clear_time) %>
      <tr>
        <th scope="row" class="align-middle"><%= index + 1 %></th>
        <td class="align-middle"><%= quest.name %></td>
        <td class="align-middle"><%= best_time.present? ? formatted_clear_time(best_time.clear_time) : "-" %></td>
        <td class="align-middle"><%= "#{best_time&.m_hunting_style&.name || "-"} / #{best_time&.m_weapon&.m_weapon_type&.name || "-" }" %></td>
        <td class="align-middle"><%= best_time&.m_weapon.present? ? best_time.m_weapon.name : "-" %></td>
        <td class="align-middle">
          <%= link_to "タイム一覧", mhxx_quest_path(quest.id), class: "btn btn btn-info" %>
          <%= link_to "タイムを追加", new_mhxx_time_path(quest_id: quest.id), class: "btn btn-success" %>
        </td>
        <td class="align-middle text-center">
          <% bookmark = @bookmarks[quest.id] %>
          <% if bookmark %>
            <%= link_to mhxx_bookmark_quest_path(bookmark), data: { turbo_method: :delete }, class: "icon__bookmark" do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          <% else %>
            <%= link_to mhxx_bookmark_quests_path(quest_id: quest.id), data: { turbo_method: :post }, class: "icon__bookmark" do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
