<h1>【MHXX】千刃は刀よりも鋭く</h1>
<div>セルレギオス</div>
<div>セルレギオス1頭の狩猟</div>
<div>平均クリアタイム：22'33"44</div>
<%= link_to "タイム登録", new_mhxx_time_path, class: 'btn btn-outline-primary' %>
<%= link_to "最速クリアタイム一覧へ戻る", mhxx_times_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col">No</th>
      <th class="col">タイム</th>
      <th class="col">武器種/スタイル</th>
      <th class="col">狩技</th>
      <th class="col">武器名</th>
      <th class="col">スキル</th>
      <th class="col">Action</th>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>05'44"33</td>
      <td>
        ストライカー<br>
        双剣
      </td>
      <td>
        <ul>
          <li>絶対回避</li>
          <li>獣宿し【餓狼】Ⅲ</li>
          <li>ラセンザンⅢ SP</li>
        </ul>
      </td>
      <td>真明マアトガナフ</td>
      <td>
        <ul>
          <li>キノコ大好き</li>
          <li>スタミナ奪取</li>
          <li>ハニーハンター</li>
          <li>暑さ無効</li>
          <li>超会心</li>
        </ul>
      </td>
      <td>
        <div>
          <%= link_to "編集", edit_mhxx_time_path, class: 'btn btn-outline-primary' %>
          <%= link_to "削除", "#", class: 'btn btn-outline-danger' %>
        </div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>11'11"11</td>
      <td>
        ギルド<br>
        太刀
      </td>
      <td>
        <ul>
          <li>絶対回避</li>
          <li>完全調合</li>
        </ul>
      </td>
      <td>ヨロイザキカッター</td>
      <td>
        <ul>
          <li>ねばねば剣法</li>
        </ul>
      </td>
      <td>
        <div>
          <%= link_to "編集", edit_mhxx_time_path, class: 'btn btn-outline-primary' %>
          <%= link_to "削除", "#", class: 'btn btn-outline-danger' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
