<%# NOTE: https://qiita.com/snskOgata/items/44d32a06045e6a52d11c %>
<%= form_with model: @player, url: @player.new_record? ? pawapuro_players_path : pawapuro_players_path(@player), local: true do |f| %>
  <form>
    <%# プロフィール %>
    <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
      プロフィール
    </div>
    <%# 選手名 %>
    <div>
      <%= f.label :player_name, "選手名", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
      <%= f.text_field :player_name, class: "form-control", placeholder: "佐藤太", autocomplete: "name", maxlength: 10 %>
    </div>
    <div class="row">
      <%# 名字 %>
      <div class="col-6">
        <%= f.label :last_name, "姓", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
        <%= f.text_field :last_name, class: "form-control", placeholder: "佐藤", autocomplete: "name", maxlength: 10 %>
      </div>
      <%# 名前 %>
      <div class="col-6">
        <%= f.label :first_name, "名", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
        <%= f.text_field :first_name, class: "form-control", placeholder: "太郎", autocomplete: "name", maxlength: 10 %>
      </div>
    </div>
    <div class="row">
      <%# 背ネーム %>
      <div class="col-6">
        <%= f.label :back_name, "背ネーム", class: "form-label" %>
        <%= f.text_field :back_name, class: "form-control", placeholder: "SATO", autocomplete: "name" %>
      </div>
      <%# 生年月日 %>
      <div class="col-6">
        <%= f.label :birthday, "生年月日", class: "pt-2 pr-2" %>
        <%= f.date_field :birthday, class: "form-control" %>
      </div>
    </div>
    <%# 投打 %>
    <div>
      <%= f.label :throwing, "投打", class: "form-label" %>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <%= f.radio_button :throwing, "right", class: "form-check-input", checked: true %>
          <%= f.label :throwing_right, "右投げ" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :throwing, "left", class: "form-check-input" %>
          <%= f.label :throwing_left, "左投げ" %>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <%= f.radio_button :batting, "right", class: "form-check-input", checked: true %>
          <%= f.label :batting_right, "右打ち" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :batting, "left", class: "form-check-input" %>
          <%= f.label :batting_left, "左打ち" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :batting, "both", class: "form-check-input" %>
          <%= f.label :batting_both, "両打ち" %>
        </div>
      </div>
    </div>
    <%# ポジション %>
    <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
      ポジション
    </div>
    <%# メイン %>
    <div class="mb-3">
      <!-- TODO: m_positionテーブルを利用してセレクトを作る -->
      <%= f.label :main_position, "メインポジション", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
      <%= f.select :main_position, [
          ["先発", 10],
          ["中継ぎ", 11],
          ["抑え", 12],
          ["捕手", 2],
          ["一塁手", 3],
          ["二塁手", 4],
          ["三塁手", 5],
          ["遊撃手", 6],
          ["外野手", 13]
        ],  {include_blank: "選択して下さい", selected: @player.main_position&.id}, {class: "form-select"} %>
    </div>
    <%# ポジション %>
    <div class="mb-3">
      <label class="form-label">各ポジション適正</label>
      <%# 投手 %>
      <div class="row">
        <div class="col-4">
          <%= f.label :p11_proper, "先発", class: "form-label small" %>
          <%= f.number_field :p11_proper, class: "form-control", min: 0, max: 2 %>
        </div>
        <div class="col-4">
          <%= f.label :p12_proper, "中継ぎ", class: "form-label small" %>
          <%= f.number_field :p12_proper, class: "form-control", min: 0, max: 2 %>
        </div>
        <div class="col-4">
          <%= f.label :p13_proper, "抑え", class: "form-label small" %>
          <%= f.number_field :p13_proper, class: "form-control", min: 0, max: 2 %>
        </div>
      </div>
      <%# 野手 %>
      <div class="row">
        <div class="col-4 col-sm-2">
          <%= f.label :p2_proper, "捕手", class: "form-label small" %>
          <%= f.number_field :p2_proper, class: "form-control", min: 0, max: 3 %>
        </div>
        <div class="col-4 col-sm-2">
          <%= f.label :p3_proper, "一塁手", class: "form-label small" %>
          <%= f.number_field :p3_proper, class: "form-control", min: 0, max: 3 %>
        </div>
        <div class="col-4 col-sm-2">
          <%= f.label :p4_proper, "二塁手", class: "form-label small" %>
          <%= f.number_field :p4_proper, class: "form-control", min: 0, max: 3 %>
        </div>
        <div class="col-4 col-sm-2">
          <%= f.label :p5_proper, "三塁手", class: "form-label small" %>
          <%= f.number_field :p5_proper, class: "form-control", min: 0, max: 3 %>
        </div>
        <div class="col-4 col-sm-2">
          <%= f.label :p6_proper, "遊撃手", class: "form-label small" %>
          <%= f.number_field :p6_proper, class: "form-control", min: 0, max: 3 %>
        </div>
        <div class="col-4 col-sm-2">
          <%= f.label :p7_proper, "外野手", class: "form-label small" %>
          <%= f.number_field :p7_proper, class: "form-control", min: 0, max: 3 %>
        </div>
      </div>
    </div>
    <%# 共通特殊能力 %>
    <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
      共通特殊能力
    </div>
    <div class="mb-3">
      <!-- 値あり特殊能力 -->
      <div class="row mb-3">
        <% @valued_abilities_options_common.each do |ability| %>
          <div class="col-6 col-sm-4">
            <% player_ability = @player.player_m_valued_abilities.find { |pa| pa.m_valued_ability_id == ability[:id] } || @player.player_m_valued_abilities.build(m_valued_ability_id: ability[:id]) %>
            <%= f.fields_for :player_m_valued_abilities, player_ability do |pa| %>
              <%= pa.hidden_field :m_valued_ability_id, value: ability[:id] %>
              <%= pa.label :"m_valued_ability_#{ability[:id]}", ability[:name], class: "form-label small mb-0" %>
              <%= pa.select :value,
                      options_for_select(ability[:options], player_ability.value || 0),
                      {},
                      { class: "form-select", id: "valued-ability-#{ability[:id]}" } %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- 値なし特殊能力 -->
      <div class="row mb-2">
        <% common_special_abilities.each do |ability| %>
          <div class="col-4 col-sm-2">
            <div class="form-check">
              <%#= f.check_box :other_special_abilities, { multiple: true, class: "form-check-input #{ability[:css_class]}", id: ability[:id], checked: ability_checked?(@player, ability[:label]) }, ability[:label], nil %>
              <%# = f.label :other_special_abilities, ability[:label], class: "form-check-label #{ability[:text_class]} fw-bold", for: ability[:id] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- TODO: pitcher_fは不要であるため、整備後に全て消す -->
    <%= f.fields_for :pawapuro_pitcher do |pitcher_f| %>
      <%# 投手基本能力 %>
      <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
        投手基本能力
      </div>
      <div class="mb-3">
        <%# 基本能力 %>
        <div class="mb-3">
          <div class="row">
            <div class="col-6 col-sm-4">
              <%= f.label :pace, "球速", class: "form-label" %>
              <div class="input-group">
                <%= f.number_field :pace, class: "form-control", min: 120, max: 170 %>
                <span class="input-group-text">km/h</span>
              </div>
            </div>
            <%# スマホサイズ時のみ、球速のみ一段目になるようにダミーで設置 %>
            <div class="col-6 d-block d-sm-none"></div>
            <div class="col-6 col-sm-4">
              <%= f.label :control, "コントロール", class: "form-label" %>
              <div class="input-group">
                <%= f.number_field :control, class: "form-control", id:"control-input", min: 1, max: 100 %>
                <span class="input-group-text text-white pawa-bg-g" id="control-alphabet-display">G</span>
              </div>
            </div>
            <div class="col-6 col-sm-4">
              <%= f.label :stamina, "スタミナ", class: "form-label" %>
              <div class="input-group">
                <%= f.number_field :stamina, class: "form-control", id:"stamina-input", min: 1, max: 100 %>
                <span class="input-group-text text-white pawa-bg-g" id="stamina-alphabet-display">G</span>
              </div>
            </div>
          </div>
        </div>
        <%# 変化球 %>
        <div>
          <%# ストレート系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">ストレート系</label>
              <%# TODO: オリジナルを選択時、球種名入力欄を表示 %>
              <%# = pitcher_f.select :fastball_type, [['ストレート', 'ストレート'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.fastball_type }, { class: 'form-select' } %>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二ストレート系</label>
              <%# = pitcher_f.select :second_fastball_type, [['なし', ''], ['ツーシームファースト', 'ツーシームファースト'], ['ムービングファースト', 'ムービングファースト'], ['超スローボール', '超スローボール'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_fastball_type }, { class: 'form-select form-select-sm' } %>
            </div>
          </div>
          <%# スライダー系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">スライダー系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :slider_type_pitch, [['なし', ''], ['スライダー', 'スライダー'], ['Hスライダー', 'Hスライダー'], ['カットボール', 'カットボール'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.slider_type_pitch }, { class: 'form-select' } %>
                </div>
                <%# FIXME: なしが選ばれたときは、非活性にする %>
                <div class="col-3">
                  <%# = pitcher_f.number_field :slider_type_movement, class: 'form-control', min: 0, max: 7 %>
                </div>
              </div>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二スライダー系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :second_slider_type_pitch, [['なし', ''], ['スライダー', 'スライダー'], ['Hスライダー', 'Hスライダー'], ['カットボール', 'カットボール'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_slider_type_pitch }, { class: 'form-select form-select-sm' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :second_slider_type_movement, class: 'form-control form-control-sm', min: 0, max: 7 %>
                </div>
              </div>
            </div>
          </div>
          <%# カーブ系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">カーブ系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :curveball_type_pitch, [['なし', ''], ['カーブ', 'カーブ'], ['スローカーブ', 'スローカーブ'], ['ドロップ', 'ドロップ'], ['ドロップカーブ', 'ドロップカーブ'], ['スラーブ', 'スラーブ'], ['ナックルカーブ', 'ナックルカーブ'], ['パワーカーブ', 'パワーカーブ'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.curveball_type_pitch }, { class: 'form-select' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :curveball_type_movement, class: 'form-control', min: 0, max: 7 %>
                </div>
              </div>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二カーブ系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :second_curveball_type_pitch, [['なし', ''], ['カーブ', 'カーブ'], ['スローカーブ', 'スローカーブ'], ['ドロップ', 'ドロップ'], ['ドロップカーブ', 'ドロップカーブ'], ['スラーブ', 'スラーブ'], ['ナックルカーブ', 'ナックルカーブ'], ['パワーカーブ', 'パワーカーブ'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_curveball_type_pitch }, { class: 'form-select form-select-sm' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :second_curveball_type_movement, class: 'form-control form-control-sm', min: 0, max: 7 %>
                </div>
              </div>
            </div>
          </div>
          <%# シュート系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">シュート系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :shootball_type_pitch, [['なし', ''], ['シュート', 'シュート'], ['Hシュート', 'Hシュート'], ['シンキングツーシーム', 'シンキングツーシーム'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.shootball_type_pitch }, { class: 'form-select' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :shootball_type_movement, class: 'form-control', min: 0, max: 7 %>
                </div>
              </div>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二シュート系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :second_shootball_type_pitch, [['なし', ''], ['シュート', 'シュート'], ['Hシュート', 'Hシュート'], ['シンキングツーシーム', 'シンキングツーシーム'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_shootball_type_pitch }, { class: 'form-select form-select-sm' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :second_shootball_type_movement, class: 'form-control form-control-sm', min: 0, max: 7 %>
                </div>
              </div>
            </div>
          </div>
          <%# シンカー系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">シンカー系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :sinker_type_pitch, [['なし', ''], ['シンカー', 'シンカー'], ['Hシンカー', 'Hシンカー'], ['サークルチェンジ', 'サークルチェンジ'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.sinker_type_pitch }, { class: 'form-select' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :sinker_type_movement, class: 'form-control', min: 0, max: 7 %>
                </div>
              </div>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二シンカー系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :second_sinker_type_pitch, [['なし', ''], ['シンカー', 'シンカー'], ['Hシンカー', 'Hシンカー'], ['サークルチェンジ', 'サークルチェンジ'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_sinker_type_pitch }, { class: 'form-select form-select-sm' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :second_sinker_type_movement, class: 'form-control form-control-sm', min: 0, max: 7 %>
                </div>
              </div>
            </div>
          </div>
          <%# フォーク系 %>
          <div class="row mb-2">
            <%# 第一 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">フォーク系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :forkball_type_pitch, [['なし', ''], ['フォーク', 'フォーク'], ['パーム', 'パーム'], ['チェンジアップ', 'チェンジアップ'], ['Vスライダー', 'Vスライダー'], ['ナックル', 'ナックル'], ['SFF', 'SFF'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.forkball_type_pitch }, { class: 'form-select' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :forkball_type_movement, class: 'form-control', min: 0, max: 7 %>
                </div>
              </div>
            </div>
            <%# 第二 %>
            <div class="col-12 col-sm-6">
              <label class="form-label small mb-0">第二フォーク系</label>
              <div class="row">
                <div class="col-9">
                  <%# = pitcher_f.select :second_forkball_type_pitch, [['なし', ''], ['フォーク', 'フォーク'], ['パーム', 'パーム'], ['チェンジアップ', 'チェンジアップ'], ['Vスライダー', 'Vスライダー'], ['ナックル', 'ナックル'], ['SFF', 'SFF'], ['オリジナル', 'オリジナル']], { selected: @player.pawapuro_pitcher.second_forkball_type_pitch }, { class: 'form-select form-select-sm' } %>
                </div>
                <div class="col-3">
                  <%# = pitcher_f.number_field :second_forkball_type_movement, class: 'form-control form-control-sm', min: 0, max: 7 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# 投手特殊能力 %>
      <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
        投手特殊能力
      </div>
      <div class="mb-3">
        <%# 数値あり %>
        <div class="row mb-3">
          <div class="col-6 col-sm-4">
            <%= pitcher_f.label :taipinch, "対ピンチ", class: "form-label small mb-0" %>
            <%# = pitcher_f.select :taipinch,
              options_for_select([
                  ["強心臓", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
                  ["ノミの心臓", -4, {class: "pawa-bg-sa-b2"}]
              ], @player.new_record? ? 0 : @player.pawapuro_pitcher.taipinch),
              {},
              { class: "form-select", id: "taipinch-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= pitcher_f.label :taihidaridasya, "対左打者", class: "form-label small mb-0" %>
            <%# = pitcher_f.select :taihidaridasya,
              options_for_select([
                  ["左キラー", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_pitcher.taihidaridasya),
              {},
              { class: "form-select", id: "taihidaridasya-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= pitcher_f.label :utarezuyosa, "打たれ強さ", class: "form-label small mb-0" %>
            <%# = pitcher_f.select :utarezuyosa,
              options_for_select([
                  ["不屈の魂", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
                  ["ガラスのハート", -4, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_pitcher.utarezuyosa),
              {},
              { class: "form-select", id: "utarezuyosa-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= pitcher_f.label :nobi, "ノビ", class: "form-label small mb-0" %>
            <%# = pitcher_f.select :nobi,
              options_for_select([
                  ["怪童", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_pitcher.nobi),
              {},
              { class: "form-select", id: "nobi-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= pitcher_f.label :quick, "クイック", class: "form-label small mb-0" %>
            <%# = pitcher_f.select :quick,
              options_for_select([
                  ["走者釘付", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_pitcher.quick),
              {},
              { class: "form-select", id: "quick-select" } %>
          </div>
        </div>
        <%# 数値なし %>
        <div class="mb-3">
          <div class="row">
            <% pitcher_special_abilities.each do |ability| %>
              <div class="col-4 col-sm-2">
                <div class="form-check">
                  <%# = pitcher_f.check_box :other_special_abilities,
                    { multiple: true, class: "form-check-input #{ability[:css_class]}", id: ability[:id],
                      checked: ability_checked?(@player.pawapuro_pitcher, ability[:label]) },
                    ability[:label], nil %>
                  <%# = pitcher_f.label :other_special_abilities, ability[:label],
                    class: "form-check-label #{ability[:text_class]} fw-bold", for: ability[:id] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- TODO: fielder_fを全て消す -->
    <%= f.fields_for :pawapuro_fielder do |fielder_f| %>
      <%# 野手基本能力 %>
      <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
        野手基本能力
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <%# 基本能力 %>
          <div class="mb-3">
            <div class="row">
              <div class="col-6 col-sm-2">
                <%= f.label :trajectory, "弾道", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :trajectory, class: "form-control", id:"trajectory-input", min: 1, max: 4 %>
                  <span class="input-group-text text-white pawa-bg-d" id="trajectory-alphabet-display"><i class="fa fa-solid fa-arrow-right" id="fa-icon"></i></span>
                </div>
              </div>
              <%# PCサイズ時、弾道のみ一段目になるようにダミーで設置 %>
              <div class="col-10 d-none d-sm-block"></div>
              <%# スマホサイズ時、弾道のみ一段目になるようにダミーで設置 %>
              <div class="col-6 d-block d-sm-none"></div>
              <div class="col-6 col-sm-2">
                <%= f.label :meat, "ミート", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :meat, class: "form-control", id:"meat-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="meat-alphabet-display">G</span>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <%= f.label :power, "パワー", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :power, class: "form-control", id:"power-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="power-alphabet-display">G</span>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <%= f.label :running, "走力", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :running, class: "form-control", id:"running-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="running-alphabet-display">G</span>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <%= f.label :arm, "肩力", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :arm, class: "form-control", id:"arm-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="arm-alphabet-display">G</span>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <%= f.label :fielding, "守備力", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :fielding, class: "form-control", id:"fielding-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="fielding-alphabet-display">G</span>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <%= f.label :catching, "捕球", class: "form-label" %>
                <div class="input-group">
                  <%= f.number_field :catching, class: "form-control", id:"catching-input", min: 1, max: 100 %>
                  <span class="input-group-text text-white pawa-bg-g" id="catching-alphabet-display">G</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# 野手特殊能力 %>
      <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
        野手特殊能力
      </div>
      <div class="mb-3">
        <%# 数値あり %>
        <div class="row mb-3">
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :chance, "チャンス", class: "form-label small mb-0" %>
            <%# = fielder_f.select :chance,
              options_for_select([
                  ["勝負師", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.chance),
              {},
              { class: "form-select", id: "chance-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :taihidaritousyu, "対左投手", class: "form-label small mb-0" %>
            <%# = fielder_f.select :taihidaritousyu,
              options_for_select([
                  ["左腕キラー", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.taihidaritousyu),
              {},
              { class: "form-select", id: "taihidaritousyu-select" } %>
          </div>
          <%# TODO: ポジション（サブポジ含む）にキャッチャーがない場合は非活性 %>
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :catcher, "キャッチャー", class: "form-label small mb-0" %>
            <%# = fielder_f.select :catcher,
              options_for_select([
                  ["球界の頭脳", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.catcher),
              {},
              { class: "form-select", id: "catcher-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :tourui, "盗塁", class: "form-label small mb-0" %>
            <%# = fielder_f.select :tourui,
              options_for_select([
                  ["電光石火", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.tourui),
              {},
              { class: "form-select", id: "tourui-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :sourui, "走塁", class: "form-label small mb-0" %>
            <%# = fielder_f.select :sourui,
              options_for_select([
                  ["高速ベースラン", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.sourui),
              {},
              { class: "form-select", id: "sourui-select" } %>
          </div>
          <div class="col-6 col-sm-4">
            <%= fielder_f.label :soukyuu, "送球", class: "form-label small mb-0" %>
            <%# = fielder_f.select :soukyuu,
              options_for_select([
                  ["ストライク送球", 4, {class: "pawa-bg-sa-sp2"}],
                  ["A", 3, {class: "pawa-bg-sa-g2"}],
                  ["B", 2, {class: "pawa-bg-sa-g2"}],
                  ["C", 1, {class: "bg-white"}],
                  ["D", 0, {class: "bg-white"}],
                  ["E", -1, {class: "bg-white"}],
                  ["F", -2, {class: "pawa-bg-sa-b2"}],
                  ["G", -3, {class: "pawa-bg-sa-b2"}],
              ], @player.new_record? ? 0 : @player.pawapuro_fielder.soukyuu),
              {},
              { class: "form-select", id: "soukyuu-select" } %>
          </div>
        </div>
        <%# 数値なし %>
        <div class="mb-3">
          <div class="row">
            <% fielder_special_abilities.each do |ability| %>
              <div class="col-4 col-sm-2">
                <div class="form-check">
                  <%# = fielder_f.check_box :other_special_abilities,
                  { multiple: true, class: "form-check-input #{ability[:css_class]}", id: ability[:id],
                    checked: ability_checked?(@player.pawapuro_fielder, ability[:label]) },
                  ability[:label], nil %>
                  <%# = fielder_f.label :other_special_abilities, ability[:label],
                    class: "form-check-label #{ability[:text_class]} fw-bold", for: ability[:id] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%# COM操作起用法特殊能力 %>
    <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
      COM操作起用法特殊能力
    </div>
    <div class="mb-3">
      <div class="row">
        <% other_special_abilities.each do |ability| %>
          <div class="col-4 col-sm-2">
            <div class="form-check">
              <%# = f.check_box :other_special_abilities,
                { multiple: true, class: "form-check-input #{ability[:css_class]}", id: ability[:id],
                  checked: ability_checked?(@player,
                ability[:label]) }, ability[:label], nil %>
              <%# = f.label :other_special_abilities, ability[:label],
                class: "form-check-label #{ability[:text_class]} fw-bold", for: ability[:id] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# その他 %>
    <div class="h4 pb-2 mb-2 text-primary border-bottom border-primary">
      その他
    </div>
    <div class="mb-3">
      <%= f.label :note, '備考', class: 'form-label' %>
      <%= f.text_area :note, rows: 3, class: 'form-control', id: 'bikou' %>
    </div>
    <%# ボタンエリア %>
    <%# TODO: それぞれ確認モーダルを表示する %>
    <%= f.submit '登録する', class: "btn btn-primary" %>
    <%= link_to 'キャンセル', pawapuro_players_path, class: 'btn btn-secondary' %>
  </form>
<% end %>
