<div class="mb-3 container">
  <% @players.each_with_index do |player, index| %>
    <div class="row pawa-index__box mb-1">
      <%# 選手名 %>
      <div class="col-12 col-sm-2 my-2 my-sm-0 d-flex justify-content-between align-items-center">
        <div class="h5 mb-0 w-75
          <%= player_name_box_color_class(player) %>
          <%= 'tighter-letter-spacing' if player.player_name.length > 5 %>">
          <%= player.player_name %>
        </div>
        <div class="<%= main_position_box_color_class(player.main_position.id) %>">
          <%= player.main_position.abbreviation %>
        </div>
      </div>
      <%# 投手能力表示 %>
      <%# TODO: スマホ表示時に最終行を左寄せにする %>
      <div class="col-12 col-sm-8 mb-2 mb-sm-0 d-flex justify-content-between align-items-center flex-wrap" id="pitcher-content-<%= index %>">
        <%= render partial: 'index_table_pitcher', locals: { player: player } %>
      </div>
      <%# 野手能力表示 %>
      <div class="col-12 col-sm-8 mb-2 mb-sm-0 d-flex justify-content-between align-items-center flex-wrap" id="fielder-content-<%= index %>">
        <%= render partial: 'index_table_fielder', locals: { player: player } %>
      </div>
      <div class="col-12 col-sm-2 mb-2 mb-sm-0 d-flex justify-content-start justify-content-sm-evenly align-items-center">
        <div>
          <%= link_to '詳細', details_pawapuro_player_path(player), class: 'btn btn-primary details-button', data: { turbo_frame: "pawapuro_details_modal" } %>
          <%= link_to "削除", pawapuro_player_path(player), data: { turbo_method: :delete, turbo_confirm: "「選手名：#{player.player_name}」を削除してよろしいですか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
