<%# 守備・起用 %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <div class="col-3 pe-4 pawa-text-main">
    <%= render partial: 'basic_ability_box', locals: {
      label: "走力",
      ability_value: @player.running
    } %>
    <%= render partial: 'basic_ability_box', locals: {
      label: "肩力",
      ability_value: @player.arm
    } %>
    <%# 各ポジション適正 %>
    <%# PCサイズ時 %>
    <div class="d-none d-sm-block">
      <div class="d-flex justify-content-start row p-1 mb-1 pawa-main-box">
        <div class="col-6 d-flex align-items-center p-0">
          <div class="col-5 p-0">
            <div class="pawa-ability-label-no-value">守備力</div>
          </div>
        </div>
        <!-- TODO: 要対応 -->
        <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"投" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0 border-end-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"捕" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"一" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0 border-end-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"二" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"三" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main border-end-0">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"遊" } %>
        </div>
        <div class="col-6 ps-3 py-2 pawa-border-main">
          <%# = render partial: 'positional_appropriateness', locals: { position_name:"外" } %>
        </div>
      </div>
    </div>
    <%# スマホサイズ時 %>
    <div class="d-block d-sm-none">
      <div class="d-flex justify-content-start row p-1 mb-1 pawa-main-box">
        <div class="col-6 d-flex align-items-center p-0">
          <div class="col-5 p-0 mb-1">
            <div class="pawa-ability-label-no-value">守備力</div>
          </div>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"投" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"捕" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"一" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"二" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"三" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main border-bottom-0">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"遊" } %>
        </div>
        <div class="col-12 py-2 pawa-border-main">
          <%= render partial: 'positional_appropriateness', locals: { position_name:"外" } %>
        </div>
      </div>
    </div>
    <%= render partial: 'basic_ability_box', locals: {
      label:"捕球",
      ability_value: @player.catching
    } %>
  </div>
  <%# 特殊能力部 %>
  <div class="col-9 bg-light border border-3 border-white rounded">
    <div class="row">
      <div class="col fs-3 bg-white pawa-border-main-in rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-12 ps-2 pawa-text-main">起用</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <%# 値なし %>
    <%# FIXME: 部分テンプレートに切り出し %>
    <% abilities_array = @player.other_special_ability_names %>
    <% 6.times do |row| %>
      <div class="row">
        <% (row*4...row*4+4).each do |index| %>
          <%= render partial: 'special_ability_no_value_box', locals: { ability: abilities_array[index] || '' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
