<h1>当サイトの説明</h1>
<div class="list-group">
  <a href="<%= pokemon_emerald_factory_participants_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">エメラルド：バトルフロンティア</h5>
    </div>
    <p class="mb-1">
      対象ソフト：ポケットモンスターエメラルド<br>
      バトルファクトリーで選出されるポケモンの検索ができる。
    </p>
  </a>
  <a href="<%= pawapuro_index_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">パワプロ：選手作成メモ</h5>
    </div>
    <p class="mb-1">
      対象ソフト：実況パワフルプロ野球2023<br>
      選手を擬似作成し、メモとして保存できる。
    </p>
    <small class="text-body-secondary">※ログイン時のみ。</small>
  </a>
</div>
<%# TODO: ヘッダーを修正したら消す %>
<%# サインイン・ログイン・ログアウトボタン %>
<div class="card-view mt-2">
  <% if user_signed_in? %>
    <%# ログイン時 %>
    <form class="form-inline">
      <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
    </form>
  <% else %>
    <%# ログアウト時 %>
    <div>
      <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary me-2" %>
    </div>
    <div>
      <%= link_to "login", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
