<%# 全体ではなく、フォームの一つ一つにエラーを出す %>
<% if @time.errors.any? %>
  <div class="alert alert-danger">
    <h2>以下のエラーが発生しました:</h2>
    <ul>
      <% @time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @time, local: true do |f| %>
  <%# クエスト %>
  <h2>クエスト</h2>
  <%= text_field_tag :m_quest_name, @quest.name, class: "form-control mb-3", disabled: true %>
  <%= f.hidden_field :m_quest_id, value: @quest.id %>
  <%# クリアタイム %>
  <h2>クリアタイム</h2>
  <div class="form-floating mb-3">
    <%= f.text_field :clear_time, class: "form-control", id: "cleartime", placeholder: "050130" %>
    <%= f.label :clear_time, "クリアタイム", for: "cleartime" %>
    <div class="form-text">区切りなしでの6桁で入力してください。 例）5'01"30 → 050130</div>
  </div>
  <%# 武器 %>
  <h2>武器</h2>
  <%# 武器種セレクト %>
  <%= select_tag :m_weapon_type,
    grouped_options_for_select(@grouped_weapon_types, selected: @time.m_weapon&.m_weapon_type_id.presence),
    prompt: "--武器種を選択--",
    class: "form-select form-select-sm mb-3",
    id: "m_weapon_type" %>
  <%# 属性ボタン %>
  <div class="mb-3">
    <%= button_tag "全表示", type: "button", class: "btn btn-primary me-2 active", data: { element: '' } %>
    <% Enums.element.except("other").each do |key, value| %>
      <%= button_tag t("enums.mhxx.element.#{key}"), type: "button", class: "btn btn-primary", data: { element: value } %>
    <% end %>
  </div>
  <%# 武器セレクト %>
  <div class="form-floating mb-3" id="weaponSelectWrap">
    <%= f.select :m_weapon_id, options_from_collection_for_select(Mhxx::MWeapon.all, :id, :name, @time.m_weapon_id), { prompt: "--武器を選択--" }, { class: "form-select", id: "weaponSelect" } %>
    <label for="weaponSelect">武器名</label>
  </div>
  
  <%# スタイル・狩技 %>
  <h2>スタイル・狩技</h2>
  <div class="form-floating mb-3">
    <%= f.select :m_hunting_style_id, options_from_collection_for_select( Mhxx::MHuntingStyle.all, :id, :name, @time.m_hunting_style_id), { prompt: "--スタイルを選択--" }, { class: "form-select", id: "styleSelect" } %>
    <label for="styleSelect">スタイル</label>
  </div>
  <div class="d-flex mb-3">
    <div class="form-floating">
      <%= f.select :m_hunter_art1_id, grouped_options_for_select(@grouped_hunter_arts, @time.m_hunter_art1_id), {}, { class: "form-select", id: "artSelect1" } %>
      <label for="artSelect1">狩技１</label>
    </div>
    <div class="form-floating">
      <%= f.select :m_hunter_art2_id, grouped_options_for_select(@grouped_hunter_arts, @time.m_hunter_art2_id), {}, { class: "form-select", id: "artSelect2" } %>
      <label for="artSelect1">狩技２</label>
    </div>
    <div class="form-floating">
      <%= f.select :m_hunter_art3_id, grouped_options_for_select(@grouped_hunter_arts, @time.m_hunter_art3_id), {}, { class: "form-select", id: "artSelect3" } %>
      <label for="artSelect1">狩技３</label>
    </div>
  </div>
  <%# スキル %>
  <h2>スキル</h2>
  <div class="row mb-3">
    <% grouped_skills = Mhxx::MSkill.all.group_by(&:skill_division) %> 
    <% grouped_skills.each do |division, skills| %>
      <div class="col-12">
        <h3><%= I18n.t("enums.mhxx.skill_division.#{Enums.skill_division.key(division.to_i)}") %></h3>
      </div>
      <% skills.each do |skill| %>
        <div class="col-2">
          <div class="form-check">
            <%= check_box_tag 'mhxx_time[skill_ids][]', skill.id, @time.m_skills.include?(skill), id: "time_skill_#{skill.id}", class: "form-check-input" %>
            <%= label_tag "time_skill_#{skill.id}", skill.name, class: "form-check-label" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>  
  <%# ボタンエリア %>
  <%= f.submit '登録する', class: "btn btn-primary" %>
  <%= link_to 'キャンセル', mhxx_quests_path, class: 'btn btn-secondary' %>
<% end %>
