<%# TODO: 全体ではなく、フォームの一つ一つにエラーを出す %>
<% if @time.errors.any? %>
  <div class="alert alert-danger">
    <h2>以下のエラーが発生しました:</h2>
    <ul>
      <% @time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @time, local: true do |f| %>
  <%# クエスト %>
  <h2>クエスト</h2>
  <%= text_field_tag :m_quest_name, @quest.name, class: "form-control mb-3", disabled: true, autocomplete: "off" %>
  <%= f.hidden_field :m_quest_id, value: @quest.id %>
  <%# クリアタイム %>
  <h2>クリアタイム</h2>
  <div class="form-floating mb-3">
    <%= f.text_field :clear_time, class: "form-control", id: "cleartime", placeholder: "050130" %>
    <%= f.label :clear_time, "クリアタイム", for: "cleartime" %>
    <div class="form-text">区切りなしでの6桁で入力してください。 例）5'01"30 → 050130</div>
  </div>

  <%# 武器 %>
  <h2>武器</h2>
  <%# 武器種セレクト %>
  <%= select_tag :m_weapon_type,
    grouped_options_for_select(@grouped_weapon_types, selected: @time.m_weapon&.m_weapon_type_id.presence),
    prompt: "--武器種を選択--",
    class: "form-select form-select-sm mb-2",
    id: "m_weapon_type" %>
  <%# 属性ボタン %>
  <div class="mb-3">
    <!-- スマホサイズで改行 -->
    <%= button_tag "全表示", type: "button", class: "btn btn-secondary mb-1 me-2 active d-block d-sm-inline-block", data: { element: '' } %>
    <% Enums.element.except("other").each_with_index do |(key, value), index| %>
      <!-- 龍の後に余白を入れる -->
      <%= button_tag t("enums.mhxx.element.#{key}"),
      type: "button",
      class: "btn mb-1 mhxx-btn__element--#{key} #{"me-2" if key == 'dragon'}",
      data: { element: value } %>
      <!-- スマホサイズ時、龍の後に改行を入れる -->
      <% if key == 'dragon' %>
        <div class="w-100 d-block d-sm-none"></div>
      <% end %>
    <% end %>
  </div>
  <%# 武器セレクト %>
  <div class="form-floating mb-3" id="weaponSelectWrap">
    <%= f.select :m_weapon_id,
      options_from_collection_for_select(Mhxx::MWeapon.all, :id, :name, @time.m_weapon_id),
      { prompt: "--武器を選択--" },
      { class: "form-select", id: "weaponSelect" } %>
    <%= f.label :m_weapon_id, "武器名", for: "weaponSelect" %>
  </div>
  <%# スタイル・狩技 %>
  <h2>スタイル・狩技</h2>
  <%# スタイルセレクト %>
  <div class="form-floating mb-3">
    <%# data部分…スタイルごとのhunter_arts_quantityをJSON形式で格納（jsで使用） %>
    <%= f.select :m_hunting_style_id,
      options_from_collection_for_select( Mhxx::MHuntingStyle.all, :id, :name, @time.m_hunting_style_id),
      { prompt: "--スタイルを選択--" },
      { class: "form-select", id: "styleSelect",
        data: {
          hunting_styles: Mhxx::MHuntingStyle.all.map { |style| [style.id, style.hunter_arts_quantity] }.to_h.to_json
        }
      } %>
    <%= f.label :m_hunting_style_id, "スタイル", for: "styleSelect" %>
  </div>
  <%# 狩技セレクト %>
  <div class="row mb-3">
    <% (1..3).each do |i| %>
      <div class="col-4">
        <div class="form-floating">
          <%= f.select "m_hunter_art#{i}_id".to_sym,
            grouped_options_for_select(@grouped_hunter_arts, @time.send("m_hunter_art#{i}_id")),
            {},
            { class: "form-select", id: "artSelect#{i}" } %>
          <%= f.hidden_field "m_hunter_art#{i}_id".to_sym, id: "hiddenArtSelect#{i}" %>
          <%= f.label "m_hunter_art#{i}_id".to_sym, "狩技#{i}", for: "artSelect#{i}" %>
        </div>
      </div>
    <% end %>
  </div>
  <%# スキル %>
  <h2>スキル</h2>
  <div class="row mb-3">
    <% grouped_skills = Mhxx::MSkill.all.group_by(&:skill_division) %>
    <% grouped_skills.each do |division, skills| %>
      <div class="col-12">
        <h3><%= I18n.t("enums.mhxx.skill_division.#{Enums.skill_division.key(division.to_i)}") %></h3>
      </div>
      <% skills.each do |skill| %>
        <div class="col-2">
          <div class="form-check">
            <%= check_box_tag 'mhxx_time[skill_ids][]',
              skill.id,
              @time.m_skills.include?(skill),
              id: "time_skill_#{skill.id}",
              class: "form-check-input" %>
            <%= label_tag "time_skill_#{skill.id}", skill.name, class: "form-check-label" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# ボタンエリア %>
  <%= f.submit '登録する', class: "btn btn-primary" %>
  <%= link_to "キャンセル", request.referer || mhxx_quests_path, class: "btn btn-secondary" %>
<% end %>
