<%# 投手基礎能力部 %>
<%= render partial: 'basic_ability_box', locals: { label:"球速", ability_value: @player.pawapuro_pitcher.pace } %>
<%= render partial: 'basic_ability_box', locals: { label:"コントロール", ability_value: @player.pawapuro_pitcher.control } %>
<%= render partial: 'basic_ability_box', locals: { label:"スタミナ", ability_value: @player.pawapuro_pitcher.stamina } %>
<div class="d-flex justify-content-start row border border-3 border-white rounded p-0 p-sm-1 mb-1 pawa-bg-main">
  <div class="ps-1 ps-sm-3 pb-2">
    <%# ストレート系 %>
    <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"fastball" } %>
    <%# スライダー系 %>
    <% if @player.pawapuro_pitcher.slider_type_pitch.present? %>
      <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"slider" } %>
    <% end %>
    <%# カーブ系 %>
    <% if @player.pawapuro_pitcher.curveball_type_pitch.present? %>
      <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"curveball" } %>
    <% end %>
    <%# シュート系 %>
    <% if @player.pawapuro_pitcher.shootball_type_pitch.present? %>
      <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"shootball" } %>
    <% end %>
    <%# シンカー系 %>
    <% if @player.pawapuro_pitcher.sinker_type_pitch.present? %>
      <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"sinker" } %>
    <% end %>
    <%# フォーク系 %>
    <% if @player.pawapuro_pitcher.forkball_type_pitch.present? %>
      <%= render partial: 'breaking_ball_meter', locals: { breaking_ball_type:"forkball" } %>
    <% end %>
  </div>
</div>
