<%# 投手能力 %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <div class="col-3 pe-4 pawa-text-main">
    <%= render partial: 'pitcher_basic_ability_wrap' %>
  </div>
  <%# 特殊能力部 %>
  <div class="col-9 bg-light border border-3 border-white rounded">
    <div class="row">
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"対ピンチ", ability_value: @player.pawapuro_pitcher.taipinch } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"対左打者", ability_value: @player.pawapuro_pitcher.taihidaridasya } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"打たれ強さ", ability_value: @player.pawapuro_pitcher.utarezuyosa } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"ケガしにくさ", ability_value: @player.kegasinikusa } %>
    </div>
    <div class="row">
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"ノビ", ability_value: @player.pawapuro_pitcher.nobi } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"クイック", ability_value: @player.pawapuro_pitcher.quick } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"", ability_value: "" } %>
      <%= render partial: 'special_ability_value_box', locals: { ability_name:"回復", ability_value: @player.kaifuku } %>
    </div>
    <%# 値なし %>
    <%# FIXME: 部分テンプレートに切り出し %>
    <% abilities_array = @player.pawapuro_fielder.other_special_abilities.present? ? @player.pawapuro_fielder.other_special_abilities.split(',') : [] %>
    <% 6.times do |row| %>
      <div class="row">
        <% (row*4...row*4+4).each do |index| %>
          <% if abilities_array[index] %>
            <%= render partial: 'special_ability_no_value_box', locals: { ability: abilities_array[index] } %>
          <% else %>
            <%= render partial: 'special_ability_no_value_box', locals: { ability: '' } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
