<%# ポジション適正表示 %>
<%# HACK: 分岐をhelperに移す %>
<% 
# ポジション名をポジションNoに変換
position_nos = case position_name
  when "捕"
    [2]
  when "一"
    [3]
  when "二"
    [4]
  when "三"
    [5]
  when "遊"
    [6]
  when "外"
    [7]
  when "投"
    [11, 12, 13] # 複数のポジション番号に対応
  else
    [1]
  end

# 倍率変換
proper_values = position_nos.map { |no| @player.send("p#{no}_proper") }
max_proper = proper_values.max

case max_proper
  when 3
    coefficient, add_text_class = 1, ""
  when 2
    coefficient, add_text_class = 0.8, ""
  when 1
    coefficient, add_text_class = 0.7, ""
  else
    coefficient, add_text_class = 0, "pawa-text-neutral"
  end
%>
<span class="me-2 h5 <%= "#{add_text_class}" %>"><%= position_name %></span>
<span class="me-2 h5"><%= display_alphabet((@player.pawapuro_fielder.defense * coefficient).ceil) %></span>
<span class="h5 <%= "#{add_text_class}" %>">
  <%= ((@player.pawapuro_fielder.defense * coefficient).ceil.to_i).nonzero? || '--' %>
</span>
