<%# 選手詳細モーダル %>
<%= turbo_frame_tag "pawapuro_details_modal" do %>
  <div class="modal fade" tabindex="-1" aria-hidden="true" data-controller="pawapuro-details-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content pawa-bg-main">
        <%# タブ %>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#playerBasic">選手能力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#playerPitcher">投手能力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#playerFielder">野手能力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#playerPromotion">守備・起用</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#playerProfile">プロフィール</a>
          </li>
        </ul>
        <div class="modal-body">
          <div class="container">
            <div class="row mb-1">
              <%# TODO: サブポジションによって２色以上にする %>
              <%# 選手名 %>
              <%= render partial: 'player_name_box', locals: { player: @player } %>
              <%# 守備位置 %>
              <div class="col-7 col-sm-4 d-flex justify-content-start justify-content-sm-center align-items-center pawa-text-main ps-0">
                <div class="p-0">
                  <div class="pawa-ability-label-variable">守備位置</div>
                </div>
                <span class="ms-1" id="responsive-font-size">
                  <%= display_positions(@player) %>
                </span>
              </div>
              <%# 投打 %>
              <div class="col-5 col-sm-4 d-flex justify-content-end align-items-center pawa-text-main pe-0">
                <div class="p-0">
                  <div class="pawa-ability-label">投打</div>
                </div>
                <span class="ms-1" id="responsive-font-size">
                  <strong><%= display_left_and_right(@player.throws) %>投<%= display_left_and_right(@player.bats) %>打</strong>
                </span>
              </div>
            </div>
          </div>
          <%# 能力部 %>
          <div class="tab-content container pawa-bg-sub rounded">
            <%# 選手能力 %>
            <div class="tab-pane fade show active" id="playerBasic">
              <%# メインポジションが投手か野手によって、表示を分ける %>
              <% if @player.main_position == 11..13 %>
                <%= render 'player_datails_pitcher' %>
              <% else %>
                <%= render 'player_datails_fielder' %>
              <% end %>
            </div>
            <%# 投手能力 %>
            <div class="tab-pane fade" id="playerPitcher">
              <%= render 'player_datails_pitcher' %>
            </div>
            <%# 野手能力 %>
            <div class="tab-pane fade" id="playerFielder">
              <%= render 'player_datails_fielder' %>
            </div>
            <%# 守備・起用 %>
            <div class="tab-pane fade" id="playerPromotion">
              <%= render 'player_datails_promotion' %>
            </div>
            <%# プロフィール %>
            <div class="tab-pane fade" id="playerProfile">
              <%= render 'player_datails_profile' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%# テストデータには、編集ボタンを表示しない %>
          <% if @player.id != 1 %>
            <%= link_to '編集', edit_pawapuro_path(@player), class: 'btn btn-primary', data: { turbo: "false" } %>
          <% end %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
