<h1>【パワプロ】作成選手一覧</h1>
<%# 選手作成 %>
<%= link_to '新規選手作成', new_pawapuro_path, class: 'btn btn-primary mb-2' %>
<%# 投/野能力表示切り替えラジオ %>
<div>
  <label class="form-label">表示能力</label>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= radio_button_tag 'display_ability_radio', 'pitcher', true, class: 'form-check-input', id: 'form-radio-pitcher' %>
      <%= label_tag 'display_ability_radio_pitcher', '投手', class: 'form-check-label', for: 'form-radio-pitcher' %>
    </div>
    <div class="form-check form-check-inline">
      <%= radio_button_tag 'display_ability_radio', 'fielder', false, class: 'form-check-input', id: 'form-radio-fielder' %>
      <%= label_tag 'display_ability_radio_fielder', '野手', class: 'form-check-label', for: 'form-radio-fielder' %>
    </div>
  </div>
</div>
<%
=begin
%>
<form class="mb-3">
  <%# 選手名 %>
  <div class="mb-3">
    <label for="name" class="form-label">選手名</label>
    <input type="search" class="form-control" id="name" autocomplete="name">
  </div>
  <%# ポジション %>
  <%# TODO: チェックボックスにし、全ポジション表示 %>
  <div class="mb-3">
    <label for="position" class="form-label">ポジション</label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="subPositionSwitch">
      <label class="form-check-label" for="subPositionSwitch">サブポジションを含む</label>
    </div>
    <input type="search" class="form-control" id="position" autocomplete="name">
  </div>
  <%# 検索ボタン %>
  <input type="submit" class="btn btn-primary" value="検索">
</form>
<%
=end
%>
<%# 一覧表示部 %>
<%= render partial: 'index_table' %>
