<h1>パワプロ：作成選手一覧</h1>
<%# 選手作成 %>
<%= link_to '新規選手作成', new_pawapuro_path, class: 'btn btn-primary mb-2' %>
<%
=begin
%>
<form class="mb-3">
  <%# 投/野ラジオ %>
  <label class="form-label">表示能力</label>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="formRadio" type="radio" id="formRadioPitcher">
      <label class="form-check-label" for="formRadioPitcher">
        投手
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="formRadio" type="radio" id="formRadioFielder" checked>
      <label class="form-check-label" for="formRadioFielder">
        野手
      </label>
    </div>
  </div>
  <%# 選手名 %>
  <div class="mb-3">
    <label for="name" class="form-label">選手名</label>
    <input type="search" class="form-control" id="name" autocomplete="name">
  </div>
  <%# ポジション %>
  <%# TODO: チェックボックスにし、全ポジション表示 %>
  <div class="mb-3">
    <label for="position" class="form-label">ポジション</label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="subPositionSwitch">
      <label class="form-check-label" for="subPositionSwitch">サブポジションを含む</label>
    </div>
    <input type="search" class="form-control" id="position" autocomplete="name">
  </div>
  <%# 検索ボタン %>
  <input type="submit" class="btn btn-primary" value="検索">
</form>
<%
=end
%>
<%# 一覧表示部 %>
<%# PCサイズ時 %>
<div class="d-block d-sm-none">
  <table class="table table-striped caption-top ">
    <thead>
      <tr>
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">選手名</th>
        <th scope="col" class="align-middle">守備位置</th>
        <th scope="col" class="align-middle">投打</th>
        <th scope="col" class="align-middle">弾道</th>
        <th scope="col" class="align-middle">ミート</th>
        <th scope="col" class="align-middle">パワー</th>
        <th scope="col" class="align-middle">走力</th>
        <th scope="col" class="align-middle">肩力</th>
        <th scope="col" class="align-middle">守備力</th>
        <th scope="col" class="align-middle">捕球</th>
        <th scope="col" class="align-middle">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each_with_index do |player, index| %>
        <%# 自分で作成した選手と、テストデータのみ表示する %>
        <% if player.created_by == current_user.username || player.id == 1 %>
          <tr>
            <th scope="row" class="align-middle"><%= index + 1 %></th>
            <td class="align-middle"><%= player.player_name %></td>
            <td class="align-middle"><%= display_positions(player) %></td>
            <td class="align-middle"><%= display_left_and_right(player.throws) %>投<%= display_left_and_right(player.bats) %>打</td>
            <td class="align-middle">
              <span class="me-2 h5"><%= display_trajectory(player.pawapuro_fielder.trajectory) %></span>
              <%= player.pawapuro_fielder.trajectory %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.meat) %>
              <%= player.pawapuro_fielder.meat %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.power) %>
              <%= player.pawapuro_fielder.power %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.running) %>
              <%= player.pawapuro_fielder.running %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.arm_strength) %>
              <%= player.pawapuro_fielder.arm_strength %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.defense) %>
              <%= player.pawapuro_fielder.defense %>
            </td>
            <td class="align-middle">
              <%= display_alphabet(player.pawapuro_fielder.catching) %>
              <%= player.pawapuro_fielder.catching %>
            </td>
            <td class="align-middle">
              <%= link_to '詳細', details_pawapuro_path(player), class: 'btn btn-primary details-button', data: { turbo_frame: "pawapuro_details_modal" } %>
              <%# テストデータには、削除ボタンを表示しない %>
              <% if player.id != 1 %>
                <%= link_to "削除", pawapuro_path(player), data: { turbo_method: :delete, turbo_confirm: "「選手名：#{player.player_name}」を削除してよろしいですか？" }, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%# スマホサイズ時 %>
<div class="d-none d-sm-block">
  <% @players.each_with_index do |player, index| %>
    <% if player.created_by == current_user.username || player.id == 1 %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= player.player_name %></h5>
          <p class="card-text">
            <strong>守備位置：</strong> <%= display_positions(player) %><br>
            <strong>投打：</strong> <%= display_left_and_right(player.throws) %>投<%= display_left_and_right(player.bats) %>打<br>
            <strong>弾道：</strong>
            <span class="me-2 h5"><%= display_trajectory(player.pawapuro_fielder.trajectory) %></span>
            <%= player.pawapuro_fielder.trajectory %><br>
            <strong>ミート：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.meat) %></span>
            <%= player.pawapuro_fielder.meat %><br>
            <strong>パワー：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.power) %></span>
            <%= player.pawapuro_fielder.power %><br>
            <strong>走力：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.running) %></span>
            <%= player.pawapuro_fielder.running %><br>
            <strong>肩力：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.arm_strength) %></span>
            <%= player.pawapuro_fielder.arm_strength %><br>
            <strong>守備力：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.defense) %></span>
            <%= player.pawapuro_fielder.defense %><br>
            <strong>捕球：</strong>
            <span class="me-2 h5"><%= display_alphabet(player.pawapuro_fielder.catching) %></span>
            <%= player.pawapuro_fielder.catching %><br>
          </p>
          <%= link_to '詳細', details_pawapuro_path(player), class: 'btn btn-primary details-button' %>
          <% if player.id != 1 %>
            <%= link_to "削除", pawapuro_path(player), method: :delete, data: { confirm: "「選手名：#{player.player_name}」を削除してよろしいですか？" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
