<h1>【パワプロ】作成選手一覧</h1>
<%# 選手作成 %>
<%= link_to '新規選手作成', new_pawapuro_path, class: 'btn btn-primary mb-2' %>
<%
=begin
%>
<form class="mb-3">
  <%# 投/野ラジオ %>
  <label class="form-label">表示能力</label>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= radio_button_tag 'display_ability', 'pitcher', params[:display_ability] == 'pitcher' || params[:display_ability].nil?, class: 'form-check-input', id: 'formRadioPitcher' %>
      <%= label_tag 'display_ability_pitcher', '投手', class: 'form-check-label', for: 'formRadioPitcher' %>
    </div>
    <div class="form-check form-check-inline">
      <%= radio_button_tag 'display_ability', 'fielder', params[:display_ability] == 'fielder', class: 'form-check-input', id: 'formRadioFielder' %>
      <%= label_tag 'display_ability_fielder', '野手', class: 'form-check-label', for: 'formRadioFielder' %>
    </div>
  </div>

  <%# 選手名 %>
  <div class="mb-3">
    <label for="name" class="form-label">選手名</label>
    <input type="search" class="form-control" id="name" autocomplete="name">
  </div>
  <%# ポジション %>
  <%# TODO: チェックボックスにし、全ポジション表示 %>
  <div class="mb-3">
    <label for="position" class="form-label">ポジション</label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="subPositionSwitch">
      <label class="form-check-label" for="subPositionSwitch">サブポジションを含む</label>
    </div>
    <input type="search" class="form-control" id="position" autocomplete="name">
  </div>
  <%# 検索ボタン %>
  <input type="submit" class="btn btn-primary" value="検索">
</form>
<%
=end
%>
<%# 一覧表示部 %>
<%= render partial: 'index_fielder_table' %>
