<table class="table table-striped caption-top">
  <thead>
    <tr>
      <th scope="col" class="align-middle">#</th>
      <th scope="col" class="align-middle">わざ1</th>
      <th scope="col" class="align-middle">わざ2</th>
      <th scope="col" class="align-middle">わざ3</th>
      <th scope="col" class="align-middle">わざ4</th>
      <th scope="col" class="align-middle">もちもの</th>
      <th scope="col" class="align-middle">努力値</th>
      <th scope="col" class="align-middle">せいかく</th>
    </tr>
  </thead>
  <tbody>
    <% results.each_with_index do |pokemon, index| %>
      <%# TODO: スマホのレイアウト変える（わざを縦に並べる） %>
      <%# TODO: 努力値のカラムにスペースを追加 %>
      <tr>
        <th scope="row" class="align-middle"><%= @starting_number + index + 1 %></th>
        <td class="align-middle"><%= pokemon.move1 %></td>
        <td class="align-middle"><%= pokemon.move2 || "-" %></td>
        <td class="align-middle"><%= pokemon.move3 || "-" %></td>
        <td class="align-middle"><%= pokemon.move4 || "-" %></td>
        <td class="align-middle">
          <%= image_tag(create_pokemon_image_path(pokemon.item, "items")) %>
          <%= pokemon.item %>
        </td>
        <td class="align-middle"><%= pokemon.effort_values %></td>
        <td class="align-middle"><%= pokemon.character %></td>
      </tr>
    <% end %>
  </tbody>
</table>
