<h1>【エメラルド】バトルファクトリー参加ポケモン検索</h1>
<%= search_form_for @q, url: pokemon_emerald_factory_participants_path do |f| %>
  <%# 周 %>
  <div class="mb-3">
    <div class="d-flex">
      <label for="lap" class="form-label">周</label>
      <%# レベル50 or オープンレベル %>
      <div class="ms-3">
        <div class="form-check form-check-inline">
          <%= radio_button_tag 'level_radio', '50', params[:level_radio] == '50', class: 'form-check-input', id: 'level50' %>
          <%= label_tag 'level_radio_50', 'レベル50', class: 'form-check-label', for: 'level50' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag 'level_radio', 'open', params[:level_radio] == 'open' || params[:level_radio].nil?, class: 'form-check-input', id: 'open-level' %>
          <%= label_tag 'level_radio_open', 'オープンレベル', class: 'form-check-label', for: 'open-level' %>
        </div>
      </div>
    </div>
    <%= select_tag :lap_number, options_for_select([ ["指定なし", ""], ["1周目", 4], ["2周目", 5], ["3周目", 6], ["4周目", 7], ["5周目以降", 8]], params[:lap_number].to_i), class: "form-select", id: "lap" %>
  </div>
  <%# 入力（完全一致）＆セレクトボックス %>
  <%= f.label :name_eq, "ポケモン名", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
  <%= f.search_field :name_eq, list: "pokemon-names", class: "form-control", placeholder: "ポケモンを選択または入力" %>
  <datalist id="pokemon-names">
    <% @pokemon_names.each do |name| %>
      <option value="<%= name %>"></option>
    <% end %>
  </datalist>
  <br>
  <%= f.submit "検索", name: "search", class: "btn btn-primary mb-3" %>
<% end %>
<%# 検索結果一覧表示 %>
<% if @results.present? %>
  <%
=begin
%>
  <div class="shadow mb-2">
    <%= params[:q].values[0] %>
  </div>
  <%
=end
%>
  <table class="table table-striped caption-top">
    <thead>
      <tr>
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">ポケモン名</th>
        <th scope="col" class="align-middle">タイプ1</th>
        <th scope="col" class="align-middle">タイプ2</th>
        <th scope="col" class="align-middle">わざ1</th>
        <th scope="col" class="align-middle">わざ2</th>
        <th scope="col" class="align-middle">わざ3</th>
        <th scope="col" class="align-middle">わざ4</th>
        <th scope="col" class="align-middle">もちもの</th>
        <th scope="col" class="align-middle">努力値</th>
        <th scope="col" class="align-middle">せいかく</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |pokemon, index| %>
        <tr>
          <th scope="row" class="align-middle"><%= @starting_number+index + 1 %></th>
          <td class="align-middle"><%= pokemon.name %></td>
          <td class="align-middle"><%= pokemon.type1 %></td>
          <td class="align-middle"><%= pokemon.type2 || "-" %></td>
          <td class="align-middle"><%= pokemon.move1 %></td>
          <td class="align-middle"><%= pokemon.move2 || "-" %></td>
          <td class="align-middle"><%= pokemon.move3 || "-" %></td>
          <td class="align-middle"><%= pokemon.move4 || "-" %></td>
          <td class="align-middle"><%= pokemon.item %></td>
          <td class="align-middle"><%= pokemon.effort_values %></td>
          <td class="align-middle"><%= pokemon.character %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%# ページネーション %>
  <%= paginate @results, theme:"bootstrap-5" %>
<% end %>
