<h1>【エメラルド】バトルファクトリー参加ポケモン検索</h1>
<%= search_form_for @q, url: pokemon_emerald_factory_participants_path do |f| %>
  <div class="row">
    <%# 検索部 %>
    <div class="col-12 col-sm-6">
      <%# 周 %>
      <div class="mb-3">
        <div class="d-flex">
          <label for="lap" class="form-label">周</label>
          <%# レベル50 or オープンレベル %>
          <div class="ms-3">
            <div class="form-check form-check-inline">
              <%= radio_button_tag 'level_radio', '50', params[:level_radio] == '50' || params[:level_radio].nil?, class: 'form-check-input', id: 'level50' %>
              <%= label_tag 'level_radio_50', 'レベル50', class: 'form-check-label', for: 'level50' %>
            </div>
            <div class="form-check form-check-inline">
              <%= radio_button_tag 'level_radio', 'open', params[:level_radio] == 'open', id: 'open-level' %>
              <%= label_tag 'level_radio_open', 'オープンレベル', class: 'form-check-label', for: 'open-level' %>
            </div>
          </div>
        </div>
        <%= select_tag :lap_number, options_for_select([["指定なし", ""], ["1周目", 1], ["2周目", 2], ["3周目", 3], ["4周目", 4], ["5周目", 5], ["6周目", 6], ["7周目", 7], ["8周目以降", 8]], params[:lap_number].to_i), class: "form-select", id: "lap" %>
      </div>
      <%# 入力（完全一致）＆セレクトボックス %>
      <%= f.label :name_eq, "ポケモン名", class: "form-label" %><span class="badge bg-danger ms-1">必須</span>
      <%= f.search_field :name_eq, list: "pokemon-names", class: "form-control", placeholder: "ポケモンを選択または入力" %>
      <datalist id="pokemon-names">
        <% @pokemon_names.each do |name| %>
          <option value="<%= name %>"></option>
        <% end %>
      </datalist>
      <br>
      <%= f.submit "検索", name: "search", class: "btn btn-primary mb-3" %>
    </div>
    <%# 詳細部 %>
    <div class="col-12 col-sm-6 mt-2 mb-2">
      <% if @results.present? %>
        <div class="card shadow">
          <div class="card-header fw-bold d-flex">
            <%= params[:q].values[0] %>
            <div class="ms-2 d-flex">
              <div class="d-flex align-items-center">
                <%= image_tag(@type1_image_path, size: "32x16") %>
              </div>
              <div class="ms-1 d-flex align-items-center">
                <%= image_tag(@type2_image_path, size: "32x16") if @type2_image_path.present? %>
              </div>
            </div>
          </div>
          <div class="card-body d-flex justify-content-between">
            <%# ポケモン画像部 %>
            <div>
              <%= image_tag(@name_image_path, class: "img-thumbnail", size: "180x180") %>
            </div>
            <%# 相性部 %>
            <% type_effective_arr = type_effective_arr(@type1, @type2) %>
            <% effectiveness_levels = {
              "×4" => "4_times",
              "×2" => "2_times",
              "×1/2" => "0.5_times",
              "×1/4" => "0.25_times",
              "×0" => "0_times"
            } %>
            <table class="table table-sm table-bordered ms-2 mb-0">
              <% effectiveness_levels.each do |label, key| %>
                <tr>
                  <td class="border-end"><%= label %></td>
                  <td>
                    <% type_effective_arr[key].each do |type| %>
                      <%= image_tag(create_pokemon_image_path(type, "types")) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%# 検索結果一覧表示 %>
<% if @results.present? %>
  <div class="d-none d-sm-block">
    <%= render 'result_pc', results: @results %>
  </div>
  <div class="d-block d-sm-none">
    <%= render 'result_mobile', results: @results %>
  </div>
  <%# ページネーション %>
  <%= paginate @results, theme:"bootstrap-5" %>
<% end %>
