<h1>エメラルド：バトルファクトリー参加ポケモン一覧</h1>
<%= search_form_for @q, url: pokemon_emerald_factory_participants_path do |f| %>
<% 
=begin
%>

  <%# レベル50 or オープンレベル %>
  <div class="mb-3">
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <input type="radio" name="level_radio" value="50" class="form-check-input" id="level50">
        <label class="form-check-label" for="level50">レベル50</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" name="level_radio" value="open" class="form-check-input" id="open-level" checked>
        <label class="form-check-label" for="open-level">オープンレベル</label>
      </div>
    </div>
  </div>
  <%# 周 %>
  <div class="mb-3">
    <label for="lap" class="form-label">周</label>
    <%= f.select :lap_number, options_for_select([ ['1周目', 4], ['2周目', 5], ['3周目', 6], ['4周目', 7], ['5周目', 8]], params[:lap].to_i), {}, class: "form-select", id: "lap" %>
  </div>

<%
=end
%>

  <%# 入力（完全一致）＆セレクトボックス %>
  <%= f.label :name_eq, 'ポケモン名', class: "form-label" %>
  <%= f.search_field :name_eq, list: "pokemon-names", class: "form-control", placeholder: "ポケモンを選択または入力" %>
  <datalist id="pokemon-names">
    <% @pokemon_names.each do |name| %>
      <option value="<%= name %>">
    <% end %>
  </datalist>
  <br>
  <%= f.submit '検索', class: "btn btn-primary" %>
<% end %>

<%# 検索結果一覧表示 %>
<% if @results.present? %>
  <div class="shadow">
    <ul class="list-group list-group-flush ">
      <% @results.each do |pokemon| %>
        <li class="list-group-item d-flex flex-row">
          <%= pokemon.name %>
          <%= pokemon.type1 %>
          <%= pokemon.type2 %>
          <%= pokemon.move1 %>
          <%= pokemon.move2 %>
          <%= pokemon.move3 %>
          <%= pokemon.move4 %>
          <%= pokemon.item %>
          <%= pokemon.effort_values %>
          <%= pokemon.character %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>