<!DOCTYPE html>
<html>
  <head>
    <title>フロマのささやかなゲーム攻略ツール集</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# jquery %>
    <%# TODO: CDNではなく、直接アプリケーションに導入する %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <%= javascript_importmap_tags %>
    <!-- カスタムjs -->
    <!-- HACK: 暫定処置。本来はapplication.jsでimportで呼び出したい。 -->
    <%= javascript_include_tag "controllers/pawapuro/index" %>
    <%= javascript_include_tag "controllers/pawapuro/form" %>
    <%#= javascript_include_tag "controllers/pawapuro/pawapuro" %>
    <%= javascript_include_tag "controllers/poke_em/index" %>
    <%#= javascript_include_tag "controllers/poke_em/poke_em" %>
    <%= javascript_include_tag "controllers/mhxx/mhxx" %>
    <%= javascript_include_tag "sortable" %>
    <%# モーダルブラウザバックに対応 %>
    <%# NOTE: https://blog.to-ko-s.com/tubo-bootstrap-caution/ %>
    <meta name="turbo-cache-control" content="no-cache">
    <%# ファビコン %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <header class="sticky-top">
      <!-- ナビゲーションバー -->
      <%= render 'layouts/navbar' %>
    </header>
    <!-- flashメッセージ -->
    <%# 各画面 %>
    <div id="container" class="container froma-container py-3">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%= turbo_frame_tag "pawapuro_details_modal" %>
    </div>
    <%# 背景設定 %>
    <div class="froma-body--background <%= controller.controller_name %>"></div>
  </body>
</html>
